.quizz-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}

.quizz-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.quizz-logo > h3 {
    margin-top: 20px;
    font-size: 1.6rem;
}

.quizz-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #644ED2;
    width: 100%;
    height: 200px;
    font-size: 20px;
    font-family: 'Segoe UI';
    margin-bottom: 20px;
}

.quizz-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 10px;
}

.btn-option {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #18AB29;
    width: calc(50% - 10px);
    display: inline-block;
    cursor: pointer;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2F6627;
}

.btn-option:hover {
    background-color: #5CBF2A;
}

.btn-option:active {
    position: relative;
    top: 1px;
}

.quizz-result {
    width: 100%;
    height: 250px;
    background-color: #1F0539;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizz-result p {
    font-size: 1.5rem;
    animation: aparecer 1.6s 1 ease-in-out;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 500px){
    .btn-option {
        width: 100%;
    }
}